* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --MainColor: #78bf22;
  --SecondaryColor: #e5d2fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.3;
}

@media only screen and (min-width: 992px) {
  p {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 0.6em;
  }
}

h1 {
  color: var(--MainColor);
}

.parentcontainer {
  /*
    display: flex;
    flex-flow: column;
    */
  width: 100%;
  height: 100%;
  background-color: rgba(229, 210, 252, 0.03);
}

.header {
  z-index: 1;
}
@media only screen and (max-width: 669px) {
  .header {
    position: fixed;
    width: 100%;
    background-color: rgba(120, 191, 34, 0.9);
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .headertext {
    font-family: "Satisfy", cursive;
    font-size: 8vw;
    text-decoration: none;
    color: white;
    padding: 3vw 3vw 3vw 3vw;
  }

  #menubutton {
    width: 40px;
    height: 30px;
    position: relative;
    margin: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .menubutton.closed {
    margin-top: 5px;
  }

  #bar1,
  #bar2,
  #bar3,
  #bar4 {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: white;
    border-radius: 9px;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #menubutton.closed #bar1 {
    top: 0px;
  }
  #menubutton.closed #bar2,
  #menubutton.closed #bar3 {
    top: 12px;
  }
  #menubutton.closed #bar4 {
    top: 24px;
  }

  #menubutton.open #bar1,
  #menubutton.open #bar4 {
    top: 12px;
    width: 0%;
    left: 50%;
  }
  #menubutton.open #bar2 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
  }
  #menubutton.open #bar3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%;
  }

  #navbar {
    width: 100%;
    height: 0;
    opacity: 1;
    position: fixed;
    display: block;
    flex-direction: column;
    background-color: rgba(120, 191, 34, 0.9);
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.3s;
    z-index: 3;
  }

  #navbar ul {
    width: 100%;
  }

  #navbar ul li {
    text-align: center;
    padding: 2vw;
  }

  #navbar ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
  }
  #navbar ul li:last-child {
    margin-bottom: 30px;
  }

  #navbar ul li a::after {
    content: "";
    position: absolute;
    left: -30%;
    right: 0;
    bottom: -5px;
    background: white;
    height: 3px;
    width: 160%;
  }

  /*
  #navbar ul li a:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -10%;
    right: 110%;
    bottom: 3px;
    background: white;
    height: 3px;
    transition-property: right;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }

  #navbar ul li a:hover::after,
  #navbar ul li a:active::after,
  #navbar ul li a:focus::after {
    right: -10%;
  }
  */
}

@media only screen and (min-width: 670px) {
  #navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: auto !important;
    justify-content: center;
    border-bottom: 1px solid var(MainColor);
    background-color: rgba(120, 191, 34, 0.9);
  }

  #navbar ul {
    display: flex;
    list-style-type: none;
    opacity: 100%;
  }

  #navbar ul li {
    margin: 1rem 2vw 1rem;
  }

  #navbar ul li a {
    display: inline;
    overflow: visible;
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-color: #70b41d;
    border-right: 2px solid #8dd435;
    border-top: 2px solid #8dd435;

    border-radius: 10px;
    /*border-bottom: 0px solid #E5D2FC;*/
  }

  #navbar ul li a:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 5px;
    right: 100%;
    bottom: 1px;
    /*
    background: linear-gradient(90deg, #62991e, var(--MainColor));
    */
    background: white;
    height: 3px;
    transition-property: right;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }

  #navbar ul li a:hover::after,
  #navbar ul li a:active::after,
  #navbar ul li a:focus::after {
    right: 5px;
  }

  .menubutton {
    display: none;
  }

  .header-top {
    display: none;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: center;
}

#etusivu h1 {
  grid-area: header;
  font-family: "Satisfy", cursive;
  color: var(--MainColor);
  text-align: start;
  margin-left: 4vw;
  font-size: 5.5vw;
  margin-top: 2vw;
}

#etusivu .etusivuTekstit {
  grid-area: text;
  text-align: start;
  margin-left: 4vw;
  margin-right: 10vw;
}

#etusivu .etusivuTekstit h5 {
  margin: 2vw 0 2vw 0;
  font-size: 0.8em;
}
#etusivu .etusivuTekstit p {
  margin: 2vw 0 2vw 0;
}
#etusivu .etusivuTekstit h3 {
  margin: 2vw 0 2vw 0;
}

#etusivu .etusivuKuva {
  grid-area: picture;
  text-align: top;
}

#etusivu .etusivuKuva img {
  max-width: 90%;
  border-radius: 50%;
  height: auto;
  box-shadow: 10px 0px 2px 10px rgba(120, 191, 34, 0.5);
}

@media only screen and (min-width: 993px) {
  #etusivu {
    display: grid;
    /*background-color: yellow;*/

    grid-template-rows: 75px auto auto auto;
    grid-template-columns: minmax(20px, 100px) 4fr 4fr 4fr minmax(20px, 100px);
    grid-template-areas:
      ". . . . ."
      ". header header picture ."
      ". text text picture ."
      ". text text picture .";
  }
}

@media only screen and (max-width: 992px) {
  #etusivu {
    display: grid;

    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 100px auto auto auto;
    grid-template-areas:
      ". . ."
      ". header ."
      ". picture ."
      ". text .";
  }

  #etusivu h1 {
    text-align: center;
    font-size: 8vw;
  }

  #etusivu .etusivuTekstit h5 {
    font-size: 1em;
    padding: 10px;
  }

  #etusivu .etusivuTekstit p {
    padding: 10px;
  }

  #etusivu .etusivuTekstit h3 {
    padding: 10px;
  }

  #etusivu .etusivuKuva img {
    margin-top: 5vw;
    max-width: 50%;
  }
}

@media only screen and (max-width: 669px) {
  #etusivu h1 {
    display: none;
  }
}

#hinnasto h1 {
  color: var(--MainColor);
  margin: 2vw;
}
#hinnasto h5 {
  margin: 0.9vw;
}

#hinnasto .lahjakorttiTaulukko {
  table-layout: fixed;
  width: 50%;
}

#hinnasto table tr td {
  border-right: 1px solid black;
  padding: 0.5vw 2vw;
  text-align: center;
}

#hinnasto table tr td:last-child {
  border-right: 0px solid black;
}

@media only screen and (max-width: 669px) {
  #hinnasto .alennus {
    display: none;
  }
  #hinnasto table tr td {
    border-right: 0px solid black;
  }
  #hinnasto table tr td:nth-child(1) {
    border-right: 1px solid black;
  }
}

.lahjakorttiLisatiedot {
  padding-top: 4vw;
}

#ajanvaraus .ajanvaraustekstit {
  position: relative;
  width: 80%;
  height: 100%;
  text-align: left;
  margin-left: 10vw;
  z-index: 0;
}
#ajanvaraus .ajanvaraustekstit h1 {
  padding: 3vw 0 3vw 0;
}
#ajanvaraus .ajanvaraustekstit h5 {
  padding: 3vw 0 3vw 0;
}

#yrityksille {
  /*
    display: grid;
    grid-template-areas:
    ". . ."
    ". yritysotsikko ."
    ". yritysteksti .";
    grid-template-columns: 16vw 1fr 1vw;
    grid-template-rows: 75px 1fr 4fr;
    */
  text-align: left;
}

.yrityksilleKaikkiTekstit {
  margin-left: 16vw;
  padding-right: 30%;
}

#yrityksille h1 {
  position: relative;
  bottom: 0;
  color: var(--MainColor);
  width: minmax(50%, 80%);
  padding-bottom: 5vw;
  z-index: -2;
}

.yritysTekstit h5 {
  padding-bottom: 1vw;
}
.yritysTekstit p {
  padding: 1vw 0;
}

@media only screen and (max-width: 669px) {
  #yrityksille .yrityksilleKaikkiTekstit {
    margin: 75px 5% 0 5%;
    padding-right: 0px;
    height: 100%;
  }
  #yrityksille .yritystekstit {
    display: flex;
    height: auto;
    justify-content: space-around;
  }
  .yritysTekstit h5,
  .yritysTekstit p {
    padding: 20px 0 20px 0;
    font-size: 0.8em;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  background-color: rgba(120, 191, 34, 0.9);
}

footer p {
  color: #fff;
  font-size: 0.8em;
  /*
  font-size: 1.7vw;
  */
}

@media only screen and (max-width: 992px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer p {
    flex-grow: 1;

    font-size: 1em;
    word-break: break-all;
    text-align: center;
    margin: 0 16px;
  }
}
